.header {
  display: flex;
  flex-direction: column;
}

.appInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
}

.logo {
  width: 200px;
  height: 55px;
}

.score {
  color: white;
}