{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/no-named-as-default": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "react/self-closing-comp": 0,
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/media-has-caption": 0,
    "prefer-default-export": 0,
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "draft"
        ]
      }
    ]
  }
}