.menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;
}

.menu li {
  background-color: #008966;
  border-color: #007c5d;
  color: #fff;
  flex: auto;
  text-align: center;
  padding: 5px 10px;
}

.menu li.active {
  background-color: #00bc8c;
  border-color: #007c5d;
  color: #fff;
}
