.pagination {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.page-item {
  flex: auto;
  text-align: center;
}

.page-link {
  background-color: #008966;
  border-color: #007c5d;
  color: white;
}

.page-link:hover {
  background-color: #02ca98;
  color: white;
  border-color: #02ca98;
}