.finish {
  background: #303030;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 30px;
}

.finish h1 {
  font-size: 4.5rem;
}

.finish p {
  font-size: 1.171875rem;
}

.finish .line {
  border: 1px solid #00bc8c;
  width: 100%;
}

.finish .btn-restart {
  width: 100%;
  padding: 15px;
  margin: 25px 0;
  position: relative;
  background-color: #00bc8c;
  color: #fff;
  border-radius: 5px;
  border: none;
}

@keyframes floatBubble {
  from {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  to {
    top: 85px;
    -webkit-animation-timing-function: ease-out;
  }
}

@media (max-width: 510px) {
  .finish h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 385px) {
  .finish h1 {
    font-size: 1.5rem;
  }

  .finish p {
    font-size: 1rem;
  }
}
