.questionContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  background-color: #303030;
}

.anonBird {
  border-radius: 8px;
}

.birdName {
  color: white;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.player-controls {
  display: flex;
  align-items: center;
  width: 650px;
  margin-top: 30px;
}

.play-btn {
  transition: 0.2s;
  width: 24px;
  height: 24px;
  color: #00bc8c;
}

.playback-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 40px;
  height: 40px;
  border: 2px solid #00bc8c;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.seek {
  width: 100%;
  margin-right: 20px;
}

.seek[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(185, 185, 185);
  height: 6px;
}

.seek[value]::-webkit-progress-bar {
  border-radius: 2px;
}

.seek::-webkit-progress-value {
  background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 100%) !important;
}

.player-time {
  display: flex;
  width: calc(100% - 35px);
  justify-content: space-between;
  margin-left: 35px;
  margin-top: -10px;
  color: rgb(177, 177, 177);
}