* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #222 !important;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
}

.no-padding {
  padding: 0px !important;
}
